@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=JetBrains+Mono:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-black text-white;
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-black;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-800 rounded-full hover:bg-zinc-700 transition-colors;
  }
}

.perspective-1000 {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.swiper-slide {
    box-shadow: none !important;
}

.swiper .swiper-cards {
perspective: none !important;
}

.swiper-slide-shadow {
display: none !important;
}